<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <!-- application 上下文 -->
    <bean class="com.somnus.ApplicationContextHolder"/>
    
    <!-- 静态工厂 -->
    <bean id="user" class="com.somnus.spring.xml.factory.BeanFactory" factory-method="getInstance">
    	<constructor-arg value="admin"/>
    </bean>
    
    <!-- 实例工厂 -->
    <bean id="factory" class="com.somnus.spring.xml.factory.BeanFactory2"/>
    <bean id="info" factory-bean="factory" factory-method="getInstance"/>
    
</beans>
